__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.venv/
*.py[cod]

# data/raw/*
data/processed/*
data/k_fold/*
data/embeddings/*
!data/README.md
!data/embeddings/
!data/embeddings/README.md

models/*
results/*
!results/.gitkeep
